.icon {
    position: relative;
    padding-top: 13px;
    margin-right: 5px;
    left: 24vw;
}

.section {
    padding-top: 5vh;
}

.titulo {
    margin-bottom: 4vh;
}

.btnSumit:hover {
    background-color: #039be5 !important;
}

.alert .card-content .material-icons {
    font-size: 1.5em;
    position: relative;
    top: 5px;
    margin-right: 0.5em;
}

.alert .card-content span {
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 4px;
}

.tituloG {
    font-size: 18px;
    font-weight: 900;
}

.item {
    margin: 1em;
    padding: 1em;
    float: left;
    font-size: 18px;
    font-weight: 500;
    width: 191px;
    height: 310px;
    border-style: solid;
    border-color: black;
    background-color: #b3e5fc;
}

.reduceText{
    display: inline;
    color: tomato;
}

.item2{
    text-align: center;
    border-style: solid;
    border-color: black;
    background-color: aliceblue;
}

.container {
    overflow: hidden;
}

#contentGrammar,
.factor,
.recursionLeft,
.first,
.follow,
.conjunto {
    font-size: 18px;
    font-weight: 500;
}

.validacion {
    color: red;
}